body{
	background-color: #eee;
	border: 0px;
	margin: 0px;
	overflow-x: hidden;
}
.top{
	height: 100px;
	background-image: url("../img/library.jpg");
	color: white;
	margin: 0px;
	text-align: center;
}
.top h1{
	margin: 0;
	padding: 20px;
}
.booklet{
	font-family: arial;
	font-size: 12pt;
	width:90%;
	max-width: 210mm;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	padding: 2%;
}
.center {
	text-align: center;
}
.rigth {
	text-align: right;
}
.booklet img{
	width: 90%;
	max-width: 600px;
}