@font-face {
	font-family: 'FontBody';
	src: url("../fonts/Artbrush.ttf");
}
body{
	background-color: #eee;
	border: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-family: 'FontBody';
	background-image: url("../img/backbooklet.jpg");
	font-size: 15pt;
	color: white;
}
.top h1{
	margin: 0;
	padding: 20px;
}
.booklet{
	font-family: arial;
	font-size: 11pt;
	width:45%;
	margin: auto;
	margin-top: 20px;
	background-color: white;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	padding: 5%;
	text-align: justify;
	color: black;
}
@media (max-width: 900px){
 	.booklet {
 		width:70%;
 	}
 }
 @media (max-width: 500px){
 	.booklet {
 		width:80%;
 	}
 }
.center {
	text-align: center;
}
.rigth {
	text-align: right;
}
.booklet img{
	width: 70%;
	max-width: 500px;
	margin: auto;
}
.booklet a{
	text-decoration: none;
	color: gray;
}
.booklet a:hover{
	color: black;
}
.summary ol>li{
	font-weight: bold;
}
.scroll{
	position: fixed;
	margin: 1px;
	right: 0pt;
	bottom: 0pt;
	text-align: right;
}
.scroll img{
	width: 10%;
}
.scroll img:hover{
	cursor: pointer;
}

