@font-face {
	font-family: 'FontBody';
	src: url("../fonts/Artbrush.ttf");
}
body{
	border: 0;
	margin: 0;
	background-color: #000000;
	color: white;
	font-family: 'FontBody';
	font-size: 25pt;
}
#loading{
	background-color: black;
	width: 100%;
	height: 70%;
	position: absolute;
	text-align: center;
	padding-top: 15%;
}
#body{
	display: none;
}
.drawing{
	width: 100%;
}
.drawingSection{
	width: 100%;
	max-width: 300px;
}
.section{
	padding-bottom: 5%;
}
.title{
	padding-top: 5%;
	text-align: center;
}
table{
	width: 100%;
}
.messenger{
	padding: 5%;
	width: 80%;
	text-align: left;
}
small{
	text-align: right;
}
.clear{
	background-color: white;
	color: black;
	text-align: right;
}
.clear a{
	color: #909090;
	text-decoration: none;
}
.clear a:hover{
	color: black;
	text-decoration: underline; 
}
.paperold{
	color: white;
	text-align: left;
	background-image: url("../img/wood.png");
}
.flowers{
	background-image: url("../img/flowers.jpg");
	background-repeat: inherit;
}
.contacts{
	text-align: center;
	background-color: rgba(0,0,0, 0.8);
	color: white;
}
.contacts div{
	display: inline-block;
}
.contacts img{
	width: 80%;
	max-width: 200px;
	min-width: 80px;
	margin: 10px;
	-webkit-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.contacts img:hover{
	 -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
      transform: scale(1.2);
}
.footer{
	text-align: left;
	vertical-align: middle;
	font-family: arial;
	font-size: 10pt;
	padding: 20px;
}
.central{
	width: 60%;
	margin: auto;
	text-align: center;
	font-size: 18pt;
}
.central img{
	width: 60%;
}
a{
	color: #eeeeee;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: underline; 
}