@font-face {
	font-family: 'FontBody';
	src: url("../fonts/Artbrush.ttf");
}
body{
	border: 0;
	margin: 0;
	background-color: #000000;
	color: white;
	font-family: 'FontBody';
	font-size: 25pt;
	overflow-x: hidden;
}
#loading{
	background-color: black;
	width: 100%;
	height: 70%;
	position: absolute;
	text-align: center;
	padding-top: 15%;
}
#loading div {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
}
.drawing{
	width: 100%;
}
.drawingSection{
	width: 100%;
	max-width: 300px;
}
.sections{
	display: none;
}
.section{
	padding-bottom: 5%;
}
.title{
	padding-top: 5%;
	text-align: center;
}
table{
	width: 100%;
}
.messenger{
	padding: 5%;
	width: 80%;
	text-align: left;
}
small{
	text-align: right;
}
.clear{
	background-color: white;
	color: black;
	text-align: right;
}
.clear a{
	color: #909090;
	text-decoration: none;
}
.clear a:hover{
	color: black;
	text-decoration: underline; 
}
.paperold{
	color: white;
	text-align: left;
	background-image: url("../img/wood.jpg");
}
.flowers{
	background-image: url("../img/flowers.jpg");
	background-repeat: inherit;
}
.contacts{
	text-align: center;
	background-color: rgba(0,0,0, 0.8);
	color: white;
}
.contacts div{
	display: inline-block;
}
.contacts table{
	background-color: white;
	color: gray;
	width: 150px;
	border-radius: 5px;
	border: 2px solid gray;
	margin: 10px;
	-webkit-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.contacts img{
	width: 150px;
}
.contacts table:hover{
	 -webkit-transform: translate(0px, -5px);
     -ms-transform: translate(0px, -5px);
      transform: translate(0px, -5px);
}
.footer{
	text-align: left;
	vertical-align: middle;
	font-family: arial;
	font-size: 10pt;
	padding: 20px;
}
.central{
	width: 60%;
	margin: auto;
	text-align: center;
	font-size: 18pt;
}
.central img{
	width: 60%;
}
a{
	color: #eeeeee;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: underline; 
}
.scroll{
	position: fixed;
	margin: 1px;
	right: 0pt;
	bottom: 0pt;
	text-align: right;
}
.scroll img{
	width: 30%;
}